body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #42565f;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 40px;
}

nav {
    text-align: center;
    padding: 15px;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #f6f4f4;
    font-size: 20px;
}

nav a:hover {
    color: #cb9031;
}

section {
    padding: 30px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222020;
    color: #f6f4f4;
    margin-top: 60px;
}

img {
    max-width: 50%;
    border-radius: 10px;
    height: auto;
    display: block;
    margin: 20px auto;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
    img {
        max-width: 80%;
    }
    section {
        texdt-align: center;
        title-align: center;
        padding: 20px;
    }

    header {
        padding: 20px;
    }

}

h1 {
    color: #f6f4f4;
    font-size: 20px;
}